.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    gap: 85px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 55px;
    grid-column: 2 / span 1;
    grid-row: 2;
  }

  #checkout  {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 77px;
    border: 2px solid rgb(207, 15, 15);
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
   border: 2px solid black;
  }