body {
  margin:50px
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    gap: 85px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 55px;
    grid-column: 2 / span 1;
    grid-row: 2;
    
  }

  #checkout form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 77px;
   
  }

  .cart {
    display: grid;
    grid-template-columns: 1fr;
  
  }

  #checkout input[type='text'],
#checkout input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}